@model WazeCredit.Models.ViewModels.HomeVM

@using Microsoft.Extensions.Options
@inject IOptions<WazeCredit.Utility.AppSettingsClasses.WazeForecastSettings> wazeForecastSettings
@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _myAccessor*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.MarketForecast</p>
    <p>Current Market Prediction Status : @(wazeForecastSettings.Value.ForecastTrackerEnabled?"Online":"Offline")</p>

    <p></p>
    @*@foreach (var item in ((Microsoft.AspNetCore.Http.DefaultHttpContext)((Microsoft.AspNetCore.Http.HttpContextAccessor)_myAccessor).HttpContext).Items)
    {
        <div>@item.Key</div>
    }*@
</div>

